{% extends 'base.html' %}

{% block title %}About{% endblock title %}
    

{% block body %}
<div class="container-fluid px-0 text-center">
    <img src="/static/images/aboutus.jfif" class="d-block px-0 container-fluid"><br>
    <h1><b>About Us</b></h1>
    <h4 class="text-white bg-dark my-0 py-2">We provide all kinds of chocolate and varity of exotic flavours.</h4>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <img src="/static/images/c1.jfif" class="d-block px-0 container-fluid w-100">
                </div>
    <h4 class="text-white bg-dark my-0 py-2">We give options for light chocolates as well.</h4>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <img src="/static/images/c3.jfif" class="d-block px-0 container-fluid w-100">
                </div>
    <h4 class="text-white bg-dark my-0 py-2">We have large fan base for dark chocolate lovers.</h4>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <img src="/static/images/c2.jfif" class="d-block px-0 container-fluid w-100">
                </div>
    </p>
</div>

{% endblock body %}
    